{% extends 'base.html' %}

{% block title %}Welcome to StevooLand{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col">
            Weclome to the City. Feel Free to explore it...
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <b>In the streets</b><br/>
            Blacksmith<br />
            Armourer<br />
            <br/>
            <b>In the woods</b><br/>
            <a href="reviving_fruits"> Reviving Fruits</a><br/>
            <a href="praying_temple"> Temple of sTevoo</a><br/>
        </div>
        <div class="col-6">

        </div>
    </div>

{% endblock content %}