{% extends 'base.html' %}

{% block title %}Welcome to StevooLand{% endblock %}


{% block content %}
<div class="row">
    <div class="col text-center"><h3><u>Fight Against</u></h3></div>
</div>
<div class="row">
    <div class="col-3">
        {% for creature in creatures %}
        <div class="row">
            <div class="col-9">{{creature.name}}</div>
            <div class="col-3">
                <a type="button" class="btn btn-danger" href="{% url 'creature:fight' creature.id %}"> Fight</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}